div.x a:link {
	color: skyblue;
}

div.heading {
	text-align: center;
	color: white;
}

div.box {
	color: orange;
}

body{
	background-color: #333;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ebe6e0;
	color: black;
}

.topnav a.active {
	background-color: #b8a7aa;
	color: black;
}
